@import "./assets/stylesheets/color.css";
@import "./assets/stylesheets/text.css";
@import "./assets/stylesheets/button.css";
@import "./assets/stylesheets/form.css";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

