.landing {
  width: 60%;
  margin: auto;
}

.landing section:not(:last-of-type) {
  margin-bottom: 15em;
}

.landing img {
  width: 100%;
}

.motto {
  font-size: 3em;
}

.intro {
  font-size: 1.5em;
}

.earn {
  margin: auto;
  color: var(--color-text);
  text-align: center;
}

.benefits {
  display: flex;
  justify-content: space-around;
}

.benefit {
  width: 15em;
}

.profit {
  display: flex;
}

.profit picture {
  width: 50%;
  margin-right: 1em;
}

.reasons {
  display: flex;
  justify-content: space-around;
}

.reason {
  width: 20%;
}
