<div class="landing">
  <section class="earn">
    <p class="motto">
      Быстро, Безопастно, Удобно!
    </p>
    <p class="intro">
      <em>
        Люди , которые не успели вложить в биткоин , часто называют это пузырем , те которые уже вложили , помалкивают ,
        вы в этот момент зарабатываете !
      </em>
    </p>
    <button class="button">
      Начать Зарабатывать
    </button>
  </section>
  <section class="benefits">
    <div class="benefit">
      <picture>
        <img src="../../../assets/images/miner.jpg">
      </picture>
      <p>
        Мы решили предложить вам то, что никто не предложит. А именно, заработать на том, что у вас уже есть.
      </p>
    </div>
    <div class="benefit">
      <picture>
        <img src="../../../assets/images/miner.jpg">
      </picture>
      <p>
        Раскройте потенциал своего компьютера, дайте ему заработать для вас деньги, посредством ICAN MINING.
      </p>
    </div>
    <div class="benefit">
      <picture>
        <img src="../../../assets/images/miner.jpg">
      </picture>
      <p>
        Программа установит майнер криптовплюты на ваш персональный компьютер безо всяких платежей и взносов.
      </p>
    </div>
  </section>
  <section class="profit">
    <picture>
      <img src="../../../assets/images/miner.jpg">
    </picture>
    <div>
      <p class="text--more">Ваша прибыль теперь зависит от мощности видеокарты вашего ПК</p>
      <p class="text--less">Нет скрытых установок, все действия производятся только с вашего разрешения. Все заботы и оплаты по конвертации и переводам мы берем на себя. Мы доставим ваши заработанные средства на ваш банковский счет в валюте страны проживания. И, как результат, вы получаете 70% от заработанных средств.</p>
      <button class="button">
        Начать зарабатывать
      </button>
    </div>
  </section>
  <section class="icanming">
    <p class="text--more text--center">
      <span>---</span>
      Почему ICAN MINING?
      <span>---</span>
    </p>
    <div class="reasons">
      <div class="reason">
        <picture>
          <img src="../../../assets/images/miner.jpg">
        </picture>
        <p>
          Не требуется начального капитала.
        </p>
      </div>
      <div class="reason">
        <picture>
          <img src="../../../assets/images/miner.jpg">
        </picture>
        <p>
          Не нужно обладать особыми знаниями о майнинге криптовплюты.
        </p>
      </div>
      <div class="reason">
        <picture>
          <img src="../../../assets/images/miner.jpg">
        </picture>
        <p>
          Не нужно тратить личное время, все происходит автоматически.
        </p>
      </div>
      <div class="reason">
        <picture>
          <img src="../../../assets/images/miner.jpg">
        </picture>
        <p>
          Не нужно заморачиваться доставкой денег на счет.
        </p>
      </div>
    </div>
  </section>
</div>
