.container {
  display: grid;
  grid-gap: 15px 10px;
}

.header {
  grid-row-start: 1;
  grid-row-end: 2;
}

.content {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 400px;
}

.footer {
  grid-row-start: 3;
  grid-row-end: 4;
}
