<header>
  <nav class="nav">
    <div class="brand">
      <a routerLink="/">
        <img src="../../../assets/images/miner.jpg">
        Icanmining
      </a>
    </div>
    <div class="user" *ngIf="authService.isAuthorized()">
      Welcome, {{authService.user.username}}!
    </div>
    <div class="menu">
      <div class="menu__item">
        <button type="button" mat-button
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">
          Home
        </button>
      </div>
      <div class="menu__item" *ngIf="false">
        <button type="button"
                mat-button routerLinkActive="active"
                routerLink="/settings">
          Settings
        </button>
      </div>
      <div class="menu__item" *ngIf="authService.isAdmin()">
        <button type="button" mat-button
                routerLinkActive="active"
                routerLink="/users">
          Users Profit
        </button>
      </div>
      <div class="menu__item">
        <button type="button" mat-button
                routerLinkActive="active"
                routerLink="/contact">
          Contact
        </button>
      </div>
      <div class="menu__item">
        <button type="button" mat-button
                routerLinkActive="active"
                routerLink="/about">
          About
        </button>
      </div>
      <div class="menu__item">
        <app-sign-in-button [visible]="!authService.isAuthorized()"></app-sign-in-button>
        <app-sign-up-button [visible]="!authService.isAuthorized()"></app-sign-up-button>
        <button type="button" mat-button *ngIf="authService.isAuthorized()" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </nav>
</header>
