<header>
  <div class="logo-miner">
    <a routerLink="/" class="brand">
      <img src="../../../assets/images/miner.jpg">
      <label>Icanmining</label>
    </a>
    <button type="button" mat-button>
      СКАЧАТЬ МАЙНЕР
    </button>
  </div>
  <nav>
    <div class="menu">
      <div class="menu__item">
        <button type="button" mat-button
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">
          Home
        </button>
      </div>
      <div class="menu__item" *ngIf="false">
        <button type="button"
                mat-button routerLinkActive="active"
                routerLink="/settings">
          Settings
        </button>
      </div>
      <div class="menu__item" *ngIf="authService.isAdmin()">
        <button type="button" mat-button
                routerLinkActive="active"
                routerLink="/users">
          Users Profit
        </button>
      </div>
      <div class="menu__item">
        <button type="button" mat-button
                routerLinkActive="active"
                routerLink="/contact">
          Contact
        </button>
      </div>
      <div class="menu__item">
        <button type="button" mat-button
                routerLinkActive="active"
                routerLink="/about">
          About
        </button>
      </div>
    </div>
  </nav>
  <div class="user">
    <div class="user__welcome" *ngIf="authService.isAuthorized()">
      Welcome, <span class="user__username">{{authService.user.username}}!</span>
    </div>
    <div class="user__auth">
      <button type="button" mat-button appSignIn *ngIf="!authService.isAuthorized()">Sign In</button>
      <span class="sign-out-icon" *ngIf="authService.isAuthorized()" (click)="signOut()">
        <i class="material-icons">arrow_forward</i>
      </span>
    </div>
  </div>
</header>
