header {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 59px;
  padding: 0 144px;
}

.logo-miner {
  display: flex;
}

.brand {
  display: block;
  width: 192px;
  height: 48px;
  margin-right: 28px;
}

.brand img {
  object-fit: contain;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu__item {
  margin: 0;
  padding: 0 1em;
  text-transform: uppercase;
}

.menu__item a {
  text-decoration: none;
}

.active {
  background-color: #e0e0e0;
}

.user {
  display: flex;
}

.user__welcome {
  height: 48px;
  vertical-align: middle;
  line-height: 48px;
  border-right: 1px solid;
  padding-right: 1em;
  margin-right: 1em;
}

.user__username {
  font-weight: bold;
}

.sign-out-icon {
  display: inline-block;
  margin-top: 12px;
  cursor: pointer;
}
