<div class="close">
  <button mat-icon-button mat-dialog-close>X</button>
</div>
<div class="logo">
  <img src="../../../assets/images/logo-icon.svg">
</div>
<div class="header">Sign In</div>
<form class="form" [formGroup]="options">
  <mat-form-field>
    <input matInput type="text" name="username" formControlName="username">
    <mat-placeholder>Username</mat-placeholder>
    <mat-error *ngIf="options.controls.username.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" formControlName="password">
    <mat-placeholder>Password</mat-placeholder>
    <mat-error *ngIf="options.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="rememberme">Remember Me</mat-checkbox>
  <button mat-button mat-dialog-close type="submit" class="buffer-top"
          [disabled]="!options.valid" (click)="signIn()">Sign In</button>
</form>
<p class="question">
  Don't have an account yet?  <span class="anchor" appSignUp>Sign up!</span>
</p>
