.close {
  text-align: right;
  margin-bottom: 30px;
}

.logo {
  width: 70px;
  height: 56px;
  margin: 0 auto 30px auto;
}

.logo img {
  object-fit: contain;
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.33;
  color: var(--color-black);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  margin-bottom: 35px;
}

.buffer-top {
  margin-top: 1em;
}

.question {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  padding-left: 24px;
  margin-bottom: 25px;
  color: var(--color-black);
}
