<form class="form" [formGroup]="options" (onsubmit)="signIn()">
  <div class="form__row">
    <input id="username" name="username" formControlName="username" placeholder="Username">
    <label for="username" *ngIf="options.controls.username.hasError('required')">
      Username is <strong>required</strong>
    </label>
  </div>
  <div class="form__row">
    <input id="password" type="password" name="password" formControlName="password" placeholder="Password">
    <label for="password" *ngIf="options.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </label>
  </div>
  <div class="form__row">
    <button type="submit" [disabled]="!options.valid">Sign In</button>
  </div>
</form>
