.footer {
  display: flex;
  justify-content: space-between;
  height: 102px;
  padding: 26px 144px 0 144px;
}

.brand {
  display: flex;
}

.logo {
  width: 56px;
  display: inline-block;
}

.logo img {
  object-fit: contain;
  width: 100%;
}

.brand .name {
  line-height: 43px;
}

.brand .name span {
  vertical-align: middle;
}

.terms {
  line-height: 43px;
}

.network {
  width: 24px;
  height: 20px;
  vertical-align: middle;
}
