<footer class="footer">
  <div class="brand">
    <div class="logo">
      <img src="../../../../assets/images/logo-icon.svg">
    </div>
    <div class="name">
      <span>© {{now | date:'yyyy'}} International Canadian mining corporation</span>
    </div>
  </div>
  <div class="terms">
    <a href="#">Terms of service</a>/
    <a href="#">Privacy</a>
    <img class="network" src="../../../../assets/images/miner.jpg">
    <img class="network" src="../../../../assets/images/miner.jpg">
  </div>
</footer>
