.form-wrapper {
  padding: 1em 1.5em;
  width: 30em;
}

.logo {
  text-align: center;
}

.logo img {
  width: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.buffer-top {
  margin-top: 1em;
}
