@import "./color.css";

.button {
  border: 1px solid var(--color-privary-light);
  height: 48px;
  border-radius: 24px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}
