@import "./color.css";

button.mat-button {
  background-color: var(--color-white);
}

button.mat-button {
  border: 1px solid var(--color-primary-light);
  height: 48px;
  border-radius: 24px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-transform: uppercase;
}

button.mat-button:hover {
  cursor: pointer;
}
