@import url(//fonts.googleapis.com/css?family=Open+Sans);

:root {
  --text--less: 0.8em;
  --text--more: 1.5em;
}

.text--more {
  font-size: var(--text--more);
}

.text--less {
  font-size: var(--text--less);
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.anchor {
  pointer-events: all;
  cursor: pointer;
  color: #1a0dab;
  text-decoration: none;
}
